<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2022</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">University of Connecticut
               </h4>
               <ul>
                <li> Studies Computer Science </li>
                <li>3.1 GPA</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">High School Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Glastonbury High School
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the basics of science, mathematics, and Chemistry
                </li>
                <li>
                    3.4 GPA.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>